{% extends 'store/main.html' %}
{% load static %}
{%block content%}
<link rel="stylesheet" href="{%static 'css/cart.css'%}">

<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->


</div>
{%if not items%}
<p class="your-cart">
	<span id="one"> Shopping Cart</span> <br>
	<span id="two"> Your Cart is Empty</span> <br>
	<span id="three"> Your saved items will appear here.</span> 
</p>
{%endif%}

<div class="detail-items">
	<span>Items: <span id="item-num">{{order.get_cart_items}}</span></span>
	<span>Total Amount: <span id="total">${{order.get_cart_total|floatformat:2}}</span></span>
	<a href="{%url 'checkout'%}">
		<span class="checkout"> Checkout</span>  
	</a>
</div>


<!-- Cart Card -->
{%for item in items%}	
<div class="cart-card">
	<div class="cart-card-inner">
	  <div class="image-container">
		<img src="{{item.product.imageURL}}" alt="headphones">
	  </div>	
		<div class="name-text">
			<div id="heading-text">Name</div>
			<span class="name-detail">{{item.product.name}}</span>
		</div>
		<div class="price-text">
			<div id="heading-text">Price</div>
			<span class="price-detail">${{item.product.price|floatformat:2}}</span>
		</div>
		<div class="quantity-text">
			<div id="heading-text">Quantity</div>
			<span class="quantity-detail" style="display: flex;">
				<p id="count">{{item.quantity}}</p>
				<div class="counter-btn">
					<div id="up" data-product="{{item.product.id}}" data-action="add" class="update-cart"><i class="fas fa-angle-up"></i></div>
					<div id="down" data-product="{{item.product.id}}" data-action="remove" class="update-cart"><i class="fas fa-angle-down"></i></div>
				</div>
			</span>
		</div>
		<div class="total-amount">
			<div id="heading-text">Amount</div>
			<span class="total-detail">${{item.get_total|floatformat:2}}</span>

		</div>
	</div>
	<span data-product="{{item.product.id}}" data-action="delete" class="btn btn-danger update-cart remove-cart">Remove from Cart</span>  
</div>
{%endfor%}
<!-- Cart Card Ends -->
{%endblock%}
