{%extends "store/main.html"%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'css/order.css' %}">

<p class="order-history">
    Your Order History
    <p style="text-align: center;color:#fff;margin-top: 8px;">Total Orders : <strong>{{orders|length}}</strong></p>
    </p>
    <div class="order-container" style="display: flex;flex-wrap: wrap;justify-content: center;">
{%for order in orders reversed%}

    {%for item in items%}
        {%if order.id == item.order.id%}
    <!-- Orders Card --> 
    <div class="order-card">
        <div class="order-card-inner">
            <div class="order-card-front">
                <div class="front-text">
                    <h3 class="order-date">{{item.product.name}}</h3><span id="order-date">Quantity: {{item.quantity}}</span>
                    <div class="product-pic">
                        <!-- <img src='images/large/image1.png' /> -->
                        <img id="zoom_01"  class="product-img" src="{{item.product.imageURL}}" data-zoom-image="{%static 'images/headphones.jpg'%}" alt="image">
                    </div>
                    <div class="product-name">Delivered on {{item.date_added}}</div>
                    
                </div>
            </div>
            <div class="order-card-back">
                <div class="back-text">
                    <div class="order-number">
                        OrderID: <span class="order-num">{{item.order.id}}</span>
                    </div>
                    <div class="payment-mode">
                        <p>Payment: Completed</p>
                    </div>
                    <div class="order-summary">
                        Amount Paid: <span>₹{{item.product.price}}</span><br>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    {%endif%}
    {%endfor%}
    <!-- Orders Card Ends -->

{%endfor%}
</div>

{%endblock%}