{% extends 'store/main.html' %}
{% load static %}
{%block content%}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <div class="productContainer">
        
        <img id="zoom_01" src="{{product.imageURL}}" data-zoom-image="{{product.imageURL}}" alt="image">
        <div class="productDetailsAll">
            <h1>{{product.name}}</h1>
            <br>
            <p>M.R.P.: <span>Rs. {{product.price}}</span></p>
            <p style=" color: green">In Stock</p>
            <br>
            <p>Delivered By: <span>10/02/20</span></p>
            <br>
            <p>{{product.description}}</p>
            <br>
            <h4 class="feature-heading">Features: </h4>
            <ul class="features">
               {% for feature in features%}
                    <li>{{feature}}</li>
               {%endfor%}
            </ul>
            <br>
            <button data-product="{{product.id}}" data-action="add" class="add-to-cart update-cart" onclick="this.innerHTML = 'Adding to Cart...<i class=\'fas fa-cart-plus\'></i>'; this.style.background = '#7CEC9F' "><i class="fa fa-plus-circle" aria-hidden="true" style="margin-right: 10px;"></i>Add to Cart</button>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script> -->
    <script>
        $('#zoom_01').ezPlus();
    </script>
    
{%endblock%}