*{
    margin:0;
    padding: 0;

}

body{
    background: rgb(7,204,155);
    background: linear-gradient(0deg, rgba(7,204,155,1) 0%, rgba(8,77,135,1) 100%);
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
}

.productContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
background: #fff;
color:#000;
    border-radius: 10px;
    max-height: 75vh;
}

img{
    width: auto;
    max-width: 40%;
    padding: 3px;
    border-radius: 20px;
    box-shadow: 5px 5px 22px 0px rgba(50, 50, 50, 0.75);
    
}

.productDetailsAll{
    padding: 20px;

}

.productContainer i{
    color: black;
    left: 0;
    transition: left .2s ease-in-out ;
}

a{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.productDetailsAll >span:last-child:hover >i{
    position: relative;
    left: 10px;
    
}
.add-to-cart{
    padding:15px 38px;
    border-radius:7px;
    border: none;
    color: #fff;
    background-color: rgb(7,204,155);

}
.features{
    padding-left:2rem;
    margin-top:15px;
}
.features li{
    margin-top:1rem;
}
@media screen and (max-width: 768px){
    body{
        height: unset;
    }
    img{
        width: 100%;
        padding: 1px;
        max-width: 100%;
    }
    .productContainer{
        display: block;
        height: auto;
        max-height: unset;
    }
}